.capitalize {
  text-transform: capitalize;
}

.tour {
  padding: 20px 0;
  background-color: #1f1f1f;
  color: white;
}
.cover-image {
  margin: auto;
  width: 80%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tour h1 {
  text-align: center;
  margin: 20px 0;
}

.basic-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: center;
}
.icons p {
  margin-top: 1px;
  padding-left: 5px;
  padding-right: 20px;
}

.about {
  margin: 50px 100px;
  display: flex;
  justify-content: center;
}

.about div {
  width: 45%;
}

.about h3 {
  text-transform: uppercase;
}

.about .facts {
  width: 100%;
}

.about .facts .fact {
  display: flex;
  padding-right: 15px;
  width: 100%;
}

.about .facts .fact p {
  text-transform: uppercase;
  padding: 0 10px;
}

.about .guides {
  width: 100%;
  margin-top: 50px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images .image {
  width: 30%;
}

.images .image img {
  width: 100%;
}
